.dog-list {
  display: flex;
  flex-direction: column;
  width: 500px;
}

.dog {
  display: flex;
  height: 45px;
  padding: 0 15px;
  align-items: center;
  justify-content: space-between;
  background-color: #c0ac3d;
  border-radius: 3px;
}

.dog:nth-child(even) {
  background-color: #e0c110;
}

.btn-remove {
  color: #b93737;
  font-weight: bolder;
  border: 1px solid #000000;
  border-radius: 10%;
  height: 25px;
  width: 65px;
}
